<!-- <div class="container">
 

</body>
</html> -->


<header class="masthead d-flex" style="background-color:#FFFF33;height:auto">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Bacancy Test</h1>
        <h3 class="mb-5">
          <em>Click to below button to upload Excel</em>
        </h3>

        <%= link_to 'Upload Excel', new_excel_path, :class => "btn btn-primary btn-xl js-scroll-trigger"%>
    
      </div>
      <div class="overlay"></div>
    </header>