<header class="masthead d-flex" style="background-color:#FFFF33;height:auto">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Thank you for Uploading File.</h1>
    <h3 class="mb-5">
      <em>After 1 minute Background job will import file records in Database</em>
    </h3>

  </div>
  <div class="overlay"></div>
</header>